
html {
	height: 100%;
}

body {
	color: #666666;
	background-color: #FFFFFF;
	font-family: Helvetica-light, Arial;
	font-size: 12pt;
	line-height: 14pt;
	height: 100%;
}

/* LAYOUT STRUCTURE */

#wrapbox {
	margin: 0;
	padding: 0;
	width: 100%;
}

	header {
		background-color: #FFFFFF;
		padding: 0;
		width: 100%;
		display: none;
	}

	nav {
		background-color: #FFFFFF;
		border-bottom: 1px solid #EEEEEE;
		display: none;
		margin: 0;
		padding: 0;
		width: 100%;
	}

		#logobox {
			background-color: #FFFFFF;
			display: block;
			float: left;
			padding: 15px;
			vertical-align: middle;
			width: 50%;
		}

		#topnav {
			background-color: #FFFFFF;
			display: block;
			float: right;
			width: 50%;	
		}

	article {
		background-color: #FFFFFF;
		border-left: 1px solid #EEEEEE;
		clear: both;
		display: inline;
		float: right;
		padding: 50px 15%;
		width: 80%;
		height: 100%;
	}

	aside {
		background-color: #FAFAFA;
		display: inline-block;
		position: fixed;
		float: left;
		padding: 50px auto;
		width: 20%;
		text-align: center;
		height: 100%;
	}

	footer {
		font-family: Helvetica-light, Arial;
		background-color: #ffffff;
		display: none;
		clear: both;
		font-size: 8pt;
		text-align: center;
		padding: 20px 0;
		margin: 0px;
		width: 100%;
	}

/* HEADING STYLES */

h1 {
	background-color: #673051;
	color: #FFFFFF;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	letter-spacing: -3px;
	margin-bottom: 5px;
	padding: 5px;
	width: 100%;
}

/* NORMAL LINK STYLES */

a, a:link, a:active, a:visited {
	color: #673051;
	font-family: Helvetica, Arial;
	font-weight :normal;
	text-decoration: none;
}

a:hover {
	color: #645959;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
}

a.navleft, a.navleft:link, a.navleft:active, a.navleft:visited {
	display: block;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.navleft .title {
	font-family: 'Oswald', sans-serif;
	font-size: 15pt;
	font-weight: normal;
	text-transform: uppercase;
}

.navleft, .navleft:link, .navleft:active, .navleft {
	font-family: 'Oswald', sans-serif;
	font-size: 7pt;
	letter-spacing: 2px;
	text-transform: uppercase;
}

a.anchor {
	clear: both;
	display: block;
	font-family: Helvetica-light, Arial;
	font-size: 20pt;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

.subtitle {
	font-size: 11px;
	line-height: 10px;
}

/* LINK BUTTON STYLES */

a.linkbutton, a.linkbutton:link, a.linkbutton:active, a.linkbutton:visited {
	border: 5px solid #CCCCCC;
	color: #CCCCCC;
	display: inline-block;
	float: left;
	font-family: 'Oswald', sans-serif;
	font-size: 14pt;
	letter-spacing: 0px;
	padding: 40px 0px;
	text-align: center;
	text-transform: uppercase;
	width: 20%;
}

a.linkbutton:hover {
	border: 5px solid #673051;
	color: #673051;
}

/* ETC STYLES */

article p {
	margin-bottom: 10px;
}

b, strong {
	font-weight: bold;
}

i {
	font-family: Georgia;
	font-style: italic;
}

em {
	font-style: italic;
}

u {
	text-decoration: underline;
}

small {
	font-size: .75em;
}

/* MISCALLENOUS */

hr {
	background-color:#cccccc;
	border-width:0;
	color:#cccccc;
	height:1px;
	line-height:0;
	margin: 100px auto;
	text-align:center;
	width:80%;
	clear: both;
	display: block;
}

.altfooter {
	background-color: #ffffff;
	text-align: center;
}


.colwrap:before, .colwrap:after {
display: block;
content: " ";
clear: both;
}

.heading {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 40pt;
	letter-spacing: 3px;
	line-height: 50pt;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

aside .logo {
	width: 70%;
	padding-top: 50px;
	padding-bottom: 20px;
}

.thumbnail {
	width: 100%;
	border: 1px solid #EFEFEF;
	text-align: center;
}

.thumbbox {
	width: 230px;
	display: inline-block;
	float: left;
	padding: 5px 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.portfolio {
	margin: 0 auto;
	width: auto;
	position: relative;
	text-align: center;
	display: none;
}

p.clear {
	clear:both;
	text-align: right;
}

.contact .lefttd, .contact td {
	text-align: right;
	width: 40%;
}

.contact .rightd {
	padding-left: 10px;
	text-align: left;
	width: 60%;
}

table.contact {
	margin: 0 auto;
}

.social {
	width: 30px;
	margin:  0px 3px;
}

.social:hover {
	width: 40px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
}

.avatar {
	width: 200px;
	float: left;
	margin-right: 20px;
}

.more, .more:link, .more:active, .more:visited {
	font-family: 'Oswald', sans-serif;
	color: #777777;
	padding: 5px 10px;
	text-transform: uppercase;
	border: 3px solid #777777;
}

.more:hover{
	color: #673051;
	border:3px solid #673051;	
}

/* I got everything from here on out from

credit:
http://geekgirllife.com/animate-text-over-images-on-hover-without-javascript/ 
*/


/* HOVER PHOTO EFFECT 

credit:
http://geekgirllife.com/animate-text-over-images-on-hover-without-javascript/ 
*/

.photo-grid {
	margin: 1em auto;
	max-width: 100%;
	text-align: center;
}
 
.photo-grid li {
	border: 5px solid white;
	display: inline-block;
	margin: 0px 3px 0px 2px;
	width: 230px;
}
 
.photo-grid img {
	display: block;
	height: auto;
	max-width: 100%;
}
 
.photo-grid figure {
	height: 230px;
	overflow: hidden;
	position: relative;
	width: 230px;
}
 
.photo-grid figcaption {
	background: rgba(103,48,61,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}
 
.photo-grid figcaption p {
	display: table-cell;
	font-size: 11px;
	position: relative;
	top: -40px;
	width: 230px;
	vertical-align: middle;
}


/* SHOW TEXT ON HOVER

credit:
http://geekgirllife.com/animate-text-over-images-on-hover-without-javascript/ 
*/

.photo-grid li:hover figcaption {
	opacity: 1;
}

/* FACDE IN CAPTION

credit:
http://geekgirllife.com/animate-text-over-images-on-hover-without-javascript/ 
*/

.photo-grid figcaption {
	background: rgba(103,48,61,0.8);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

/* DROP IN TEXT */
.photo-grid figcaption p {
	display: table-cell;
	position: relative;
	top: -40px;
	width: 230px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}
 
.photo-grid li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

/* ZOOM IN IMAGE

credit:
http://geekgirllife.com/animate-text-over-images-on-hover-without-javascript/ 
*/

.photo-grid img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}
 
.photo-grid li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}
